* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDF2F6;
  margin: 0;
  padding: 0;
}

/*----- Page Wrapper -----*/
.page-wrapper {
  display: flex;
  width: 100%;
}

/*----- Side Bar -----*/
.side-bar {
  display: none;
  min-width: 162px;
  background-color: #354052;
}

.profile-pic {
  margin: 20px auto 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../images/profile.png) no-repeat center;
  background-size: cover;
}

.profile-username {
  color: #9BA6B8;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 12px auto;
  background: url(../assets/down-arrow.svg) no-repeat;
  background-position: 80% 50%;
  background-size: 8px;
}

.sb-nav {
  margin-bottom: 10px;
  border-top: 3px solid #2D3548;
}

.sb-title {
  color: #616E81;
  font-size: 10px;
  padding: 0 15px 5px;
}

.sb-tag {
  width: 100%;
  display: block;
  color: #9BA6B8;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-position: 15px 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  padding: 10px 35px;
}
.sb-tag:hover {
  background-color: #30394A;
  color: #FFFFFF;
}

.home {
  background-image: url(../assets/home.svg);
}
.jobs {
  background-image: url(../assets/jobs.svg);
}
.sb-resume {
  background-image: url(../assets/resume.svg);
}
.tasks {
  background-image: url(../assets/tasks.svg);
}
.calendar {
  background-image: url(../assets/calendar.svg);
}
.users {
  background-image: url(../assets/users.svg);
}
.sb-location {
  background-image: url(../assets/sb-location.svg);
}
.workflows {
  background-image: url(../assets/workflows.svg);
}
.boards {
  background-image: url(../assets/boards.svg);
}
.social {
  background-image: url(../assets/social.svg);
}

.home:hover {
  background-image: url(../assets/home-hover.svg);
}
.jobs:hover {
  background-image: url(../assets/jobs-hover.svg);
}
.sb-resume:hover {
  background-image: url(../assets/resume-hover.svg);
}
.tasks:hover {
  background-image: url(../assets/tasks-hover.svg);
}
.calendar:hover {
  background-image: url(../assets/calendar-hover.svg);
}
.users:hover {
  background-image: url(../assets/users-hover.svg);
}
.sb-location:hover {
  background-image: url(../assets/sb-location-hover.svg);
}
.workflows:hover {
  background-image: url(../assets/workflows-hover.svg);
}
.boards:hover {
  background-image: url(../assets/boards-hover.svg);
}
.social:hover {
  background-image: url(../assets/social-hover.svg);
}

.sb-btn-wrapper {
  margin: 0 20px 20px;
  display: flex;
}

.sb-btn {
  width: 14px;
  height: 14px;
  font-size: 8px;
  border: none;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.sb-btn:focus {
  outline: none;
}

.sb-btn-label {
  color: #9BA6B8;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-left: 10px;
}

.administrative {
  background-color: #F8E409;
  background-image: url(../assets/checked.svg);
}
.design {
  background-color: #2BB0F3;
}
.executive {
  background-color: #EA1D62;
}
.human-resources {
  background-color: #00AE8A;
}

/*----- Main -----*/
.main {
  width: 100%;
}

/*----- Header -----*/
.header {
  background-color: #FFFFFF;
}

/*----- Top Nav -----*/
.top-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* NOTE: w 55 h 55  backsize 35%*/
.nav-tab {
  width: 25%;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-tab:hover {
  background-color: #16A4FA;
}

/* NOTE: back pos 15px 50% siz 18px height none  border top normal no hover effect*/
.search-bar {
  order: 2;
  width: 100%;
  height: 40px;
  padding-left: 45px;
  background: url(../assets/search.svg) no-repeat;
  background-position: 15px 50%;
  background-size: 18px;
  border: none;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;
}
.search-bar:focus {
  outline-color: #cdcdcd;
}

.menu {
 background-image: url(../assets/menu.svg);
}
.menu:hover {
 background-image: url(../assets/menu-hover.svg);
}

.new-user {
 background-image: url(../assets/new-user.svg);
}
.new-user:hover {
 background-image: url(../assets/new-user-hover.svg);
}

.notifications {
 background-image: url(../assets/notifications.svg);
}
.notifications:hover {
 background-image: url(../assets/notifications-hover.svg);
}

.other {
 background-image: url(../assets/other.svg);
}
.other:hover {
 background-image: url(../assets/other-hover.svg);
}

/* NOTE: padding max 30px */
/*----- Header Info -----*/
.header-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

/* NOTE: font 22 for max text alin left*/
.header-info h1 {
  margin: 0;
  color: #6C6D73;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.location-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 15px;
}

.location-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background: url(../assets/location.svg) no-repeat;
  background-position: center;
  background-size: 12px;
}

/* NOTE: refactor*/
.location-city {
  margin: 0;
  color: #6C6D73;
  font-size: 12px;
  font-weight: 400;
}

.dash {
  color: #6C6D73;
  padding: 0 5px;
}

.preview-post {
  color: #7BC5EC;
  font-size: 12px;
  text-decoration: none;
}
.preview-post:hover {
  text-decoration: underline;
}

.info-btns-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.info-btn {
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border: 3px solid #dddddd;
  border-radius: 50%;
}

.open {
  width: 80px;
  padding-right: 12px;
  background-image: url(../assets/open.svg);
  background-position: 12px 50%;
  background-size: 16%;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #6C6D73;
  text-align: right;
}

.bookmark {
  background-image: url(../assets/bookmark.svg);
}
.edit-info {
  background-image: url(../assets/edit-info.svg);
}
.trash {
  background-image: url(../assets/trash.svg);
}

/*----- Sub Nav -----*/
/* NOTE: 90% w  align slef flex end*/
.sub-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

/* NOTE: display: inline-block;
margin: 0 25px 0 0;
font-size: 9px;
 */
.sub-tag {
  padding-bottom: 10px;
  border-bottom: 5px solid #FFFFFF;
  color: #9EA3A8;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}
.sub-tag:hover {
  color: #6C6D73;
  border-bottom: 5px solid #14A0FE;
}

/* NOTE: tag hide make it inlineblock */
.tag-hide {
  display: none;
}

/*----- Main Primary -----*/
/* NOTE: padding top 30px remove flex wrap */
.main-primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  border-top: 3px solid #dddddd;
}

/*----- Donut Charts -----*/
/* NOTE: reduce w to 50% */
.donut-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* NOTE: margibottom 10px height 150px align items center remove padding */
.donut-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 88%;
  height: 130px;
  padding-top: 30px;
  margin: 0 auto;
}

/* NOTE: 110 w and h border 8px flex direction column*/
.donut-chart {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 15px solid;
  border-radius: 50%;
  transform: rotate(-45deg);
}

/* NOTE: margin 0 0 5px */
.donut-text h1 {
  margin: 40px 0 5px;
  color: #6F7E95;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.donut-text p {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
}

.donut-text {
  text-align: center;
  transform: rotate(45deg);
}

.applicants {
  border-color: #4CBCBF #4CBCBF #DBE4E9 #4CBCBF;
}
.interviews {
  border-color: #14A0FE #DBE4E9 #DBE4E9 #14A0FE;
}
.forwards {
  border-color: #DBE4E9 #DBE4E9 #DBE4E9 #B369B2;
}

/* NOTE: margin 0 auto */
.donut-btn,
.bar-btn {
  align-self: center;
  width: 200px;
  height: 35px;
  margin: 20px auto 0;
  background-color: #FFFFFF;
  border: 3px solid #dddddd;
  border-radius: 50px;
  color: #6F7E95;
  font-weight: bold;
}

/*----- Bar Chart -----*/
/* NOTE: w 45% remove padding */
.bar-chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  padding-top: 10px;
}

/* NOTE: h 150px marginbottom 10px */
.bar-chart {
  width: 100%;
  height: 120px;
  background: url(../images/bar-chart.png) no-repeat center;
  background-size: contain;
}

.bar-btn {
  width: 150px;
}

/*----- Separator -----*/
/* NOTE: remove width margin */
.separator {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 30px 0;
  margin: 0 auto;
}

.separator-icon {
  background: url(../assets/up-arrow.svg) no-repeat center #FFFFFF;
  background-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #dddddd;
}

.separator-line {
  border: 1px solid #dddddd;
  width: 45%;
}

/*----- Main Secondary -----*/
.main-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*----- Table -----*/
/* NOTE: remove margin 0 auto */
.job-description {
  width: 90%;
  margin: 0 auto 20px;
  background-color: #FFFFFF;
  border-collapse: collapse;
}
thead {
  background-color: #6F7E95;
}

tr {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}
tbody tr:last-child {
  border: none;
}

th {
  text-transform: uppercase;
}

th,
td {
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.header-row {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-data {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  display: block;
  width: 65px;
  padding: 8px 10px;
  background: url(../assets/edit.svg) no-repeat #7C8CA8;
  background-position: 12px 50%;
  background-size: 12px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.edit-btn:hover {
  background-color: #8d9aaf;
}

.table-sub-header {
  color: #6F7E95;
  font-size: 10px;
  font-weight: bold;
}

.description {
  align-self: flex-start;
}

.hiring-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  background: url(../images/manager.jpg) no-repeat center;
  background-size: contain;
}

.hiring-name {
  float: left;
}

.main-data-salary {
  color: #6F7E95;
  font-weight: bold;
}

/*----- Share Wrapper -----*/
/* NOTE: remove margin padding 0 0 10px*/
.share-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

/*----- Social Media Wrapper -----*/
/* NOTE: remove margin add heaigh 25% */
.social-media-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook {
  background: url(../assets/facebook.svg) #4B70C2;
}
.twitter {
  background: url(../assets/twitter.svg) #03ABED;
}
.linkedin {
  background: url(../assets/linkedin.svg) #0381BC;
}

/* NOTE: 44 lh and h fontsize 14 remove marginbottom*/
.social-link {
  display: block;
  height: 40px;
  margin-top: 10px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/*----- Widgets -----*/
/* NOTE: add height 75% remove margin*/
.widget-wrapper {
  /*height: 75%;*/
  /*margin-bottom: 40px;*/
}

/* NOTE: remove padding */
.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  height: 35%;
  border-bottom: 3px solid #dddddd;
}
.widget:last-child {
  height: 30%;
  justify-content: flex-end;
  border: none;
}

.widget-job-link {
  background: url(../assets/globe.svg);
}
.widget-embeds {
  background: url(../assets/widget.svg);
}
.widget-resume {
  background: url(../assets/plane.svg);
}
.widget-title {
  width: 100%;
  padding-left: 30px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 20px;
  color: #6F7E95;
  font-size: 16px;
}

.widget-description {
  font-size: 12px;
  line-height: 16px;
}

.widget-form {
  display: flex;
}

.widget-input {
  width: 80%;
  padding: 10px;
  border: none;
  text-overflow: ellipsis;
}
.widget-input:last-child {
  width: 100%;
}

.copy-btn {
  width: 20%;
  padding: 10px;
  background-color: #49B9BF;
  border: none;
  color: #FFFFFF;
}

/*----- Media Queries -----*/
@media screen and (min-width: 460px) {

}


@media screen and (min-width: 750px) {

}
