* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDF2F6;
  margin: 0;
  padding: 0;
}

/*----- Page Wrapper -----*/
.page-wrapper {
  display: flex;
}

/*----- Side Bar -----*/
.side-bar {
  min-width: 165px;
  background-color: #354052;
}

.profile-pic {
  margin: 20px auto 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../images/profile.jpg) no-repeat center;
  background-size: cover;
}

.profile-username {
  color: #9BA6B8;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 12px auto;
  background: url(../assets/down-arrow.svg) no-repeat;
  background-position: 80% 50%;
  background-size: 8px;
}

.sb-nav {
  margin-bottom: 10px;
  padding: 10px 20px 5px;
  border-top: 3px solid #2D3548;
}

.sb-title {
  color: #616E81;
  font-size: 10px;
}

.sb-tag {
  display: block;
  color: #9BA6B8;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-position: 0 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  padding: 0 20px;
}

.home {
  background-image: url(../assets/home.svg);
}
.jobs {
  background-image: url(../assets/jobs.svg);
}
.sb-resume {
  background-image: url(../assets/resume.svg);
}
.tasks {
  background-image: url(../assets/tasks.svg);
}
.calendar {
  background-image: url(../assets/calendar.svg);
}
.users {
  background-image: url(../assets/users.svg);
}
.location {
  background-image: url(../assets/sb-location.svg);
}
.workflows {
  background-image: url(../assets/workflows.svg);
}
.boards {
  background-image: url(../assets/boards.svg);
}
.social {
  background-image: url(../assets/social.svg);
}

.sb-btn-wrapper {
  margin-bottom: 20px;
  display: flex;
}

.sb-btn {
  width: 14px;
  height: 14px;
  font-size: 8px;
  border: none;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.sb-btn:focus {
  outline: none;
}

.sb-btn-label {
  color: #9BA6B8;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-left: 10px;
}

.administrative {
  background-color: #F8E409;
  background-image: url(../assets/checked.svg);
}
.design {
  background-color: #2BB0F3;
}
.executive {
  background-color: #EA1D62;
}
.human-resources {
  background-color: #00AE8A;
}


/*----- Main -----*/
.main {
  height: 100%;
}

/*----- Header -----*/
.header {
  background-color: #FFFFFF;
  width: 100%;
}

/*----- Header Nav -----*/
.header-nav {
  width: 100%;
  display: flex;
}

.nav-tab {
  width: 55px;
  height: 55px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.nav-tab:hover {
  background-color: #16A4FA;
}

.search-bar {
  flex: 2;
  background: url(../assets/search.svg) no-repeat;
  border: none;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-position: 15px 50%;
  background-size: 18px;
  padding-left: 45px;
  font-size: 14px;
}

.menu {
 background-image: url(../assets/menu.svg);
}
.menu:hover {
 background-image: url(../assets/menu-hover.svg);
}

.new-user {
 background-image: url(../assets/new-user.svg);
}
.new-user:hover {
 background-image: url(../assets/new-user-hover.svg);
}

.notifications {
 background-image: url(../assets/notifications.svg);
}
.notifications:hover {
 background-image: url(../assets/notifications-hover.svg);
}

.other {
 background-image: url(../assets/other.svg);
}
.other:hover {
 background-image: url(../assets/other-hover.svg);
}

/*----- Header Info -----*/
.header-info-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 30px;
}

.header-info h1 {
  font-weight: 400;
  font-size: 22px;
  color: #6C6D73;
  margin: 0;
}

.header-info p {
  margin: 10px 0;
  color: #6C6D73;
  font-weight: 400;
  font-size: 12px;
  background: url(../assets/location.svg) no-repeat;
  background-position: 0 50%;
  background-size: 14px;
  padding-left: 16px;
}
.header-info span {
  color: #6C6D73;
  padding-left: 5px;
}
.preview-post {
  color: #7BC5EC;
  text-decoration: none;
  padding-left: 5px;
}
.preview-post:hover {
  text-decoration: underline;
}

.info-btns-wrapper {
  text-align: center;
  display: flex;
}

.info-btn {
  margin: 0 10px;
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border: 3px solid #dddddd;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.open {
  width: 80px;
  border-radius: 20px;
  text-align: right;
  padding-right: 12px;
  font-weight: bold;
  font-size: 12px;
  color: #6C6D73;
  background-image: url(../assets/open.svg);
  background-position: 12px 50%;
  background-size: 16%;
}

.bookmark {
  background-image: url(../assets/bookmark.svg);
}
.edit-info {
  background-image: url(../assets/edit-info.svg);
}
.trash {
  background-image: url(../assets/trash.svg);
}

/*----- Sub Nav -----*/
.sub-nav {
  align-self: flex-end;
  width: 95%;
  margin: 0 auto;
}
.sub-tag {
  display: inline-block;
  color: #9EA3A8;
  text-decoration: none;
  margin: 0 30px 0 0;
  padding-bottom: 10px;
  border-bottom: 5px solid #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.sub-tag:hover {
  color: #6C6D73;
  border-bottom: 5px solid #14A0FE;
}

/*----- Main Primary -----*/
.main-primary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  border-top: 3px solid #dddddd;
}

/*----- Donut Charts -----*/
.donut-wrapper {
  width: 100%;
}
.donut-charts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;;
}

.chart-btn {
  margin: 30px auto 0;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #dddddd;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 10px;
  color: #373636;
  display: block;
  text-align: center;
}
.chart-btn:hover {
  background-color: #dddddd;
  border: 1px solid #dddddd;
}

.donut-btn {
  width: 200px;
}

.donut-chart {
  width: 125px;
  height: 125px;
  border: 10px solid #DBE4E9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  /*margin: 0 10px 30px;*/
}

.donut-text h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 5px;
  color: #6F7E95;
}
.donut-text p {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
}
.donut-text {
  text-align: center;
  transform: rotate(45deg);
}

.applicants {
  border-left: 10px solid #4CBCBF;
  border-top: 10px solid #4CBCBF;
  border-right: 10px solid #4CBCBF;
}
.interviews {
  border-left: 10px solid #14A0FE;
  border-top: 10px solid #14A0FE;
}
.forwards {
  border-left: 10px solid #B369B2;
}

/*----- Bar Chart -----*/
.bar-chart-wrapper {
  width: 100%;
}
.bar-chart {
  margin: 0;
  min-width: 290px;
  height: 150px;
  background: url(../images/bar-chart.png) no-repeat center;
  background-size: contain;
  margin: 0 0 30px;
}
.bar-btn {
  width: 150px;
}

/*----- Separator -----*/
.separator {
  display: flex;
  padding: 0 20px;
  align-items: center;
  margin: 20px 0 0;
}
.separator-icon {
  background: url(../assets/up-arrow.svg) no-repeat center #FFFFFF;
  background-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #dddddd;
}

.separator-line {
  border: 1px solid #dddddd;
  width: 45%;
}

/*----- Main Secondary -----*/
.main-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px 0;
  width: 100%;
}

/*----- Table -----*/
.job-description {
  background-color: #FFFFFF;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto 20px;
}
thead {
  background-color: #6F7E95;
}

tr {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}
tbody tr:last-child {
  border: none;
}

th {
  text-transform: uppercase;
}

th,
td {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.header-row {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-data {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  width: 65px;
  text-align: right;
  padding: 8px 10px;
  border: none;
  color: white;
  display: block;
  background: url(../assets/edit.svg) no-repeat #7C8CA8;
  background-size: 12px;
  background-position: 12px 50%;
  text-transform: uppercase;
  font-weight: bold;
}

.table-sub-header {
  color: #6F7E95;
  font-size: 12px;
  font-weight: bold;
}

.description {
  align-self: flex-start;
}

.hiring-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  background: url(../images/manager.png) no-repeat center #4e4e4e;
  background-size: 45px;
}

.hiring-name {
  float: left;
}

.main-data-salary {
  color: #6F7E95;
  font-weight: bold;
}

/*----- Share Wrapper -----*/
.share-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 10px;
}

/*----- Social Media Wrapper -----*/
.social-media-link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 15px;
}

.facebook {
  background: url(../assets/facebook.svg) #4B70C2 no-repeat;

}
.twitter {
  background: url(../assets/twitter.svg) #03ABED no-repeat;

}
.linkedin {
  background: url(../assets/linkedin.svg) #0381BC no-repeat;
}

.facebook,
.twitter,
.linkedin {
  background-position: 20px 50%;
  background-size: 20px;
}

/*----- Widgets -----*/
.widget-wrapper {
  width: 100%;
  margin: 0 auto;
}
.widget {
  border-bottom: 3px solid #dddddd;
  padding: 0 0 28px;
}
.widget:last-child {
  border: none;
  padding: 0;
}
.widget-form {
  display: flex;
}

.widget-input {
  width: 80%;
  padding: 10px;
  border: none;
  margin: 0;
  text-overflow: ellipsis;
}
.widget-input:last-child {
  width: 100%;
}
.copy-btn {
  background-color: #49B9BF;
  color: #FFFFFF;
  border: none;
  width: 20%;
  padding: 10px;
}

.share-header {
  color: #6F7E95;
  text-indent: 30px;
}

.job-link {
  background: url(../assets/globe.svg) no-repeat;

}
.widget-embeds {
  background: url(../assets/widget.svg) no-repeat;

}
.resume {
  background: url(../assets/plane.svg) no-repeat;
}

.job-link,
.widget-embeds,
.resume {
  background-position: 0 50%;
  background-size: 20px;
}

.share-description {
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 460px) {
  /*----- Main Primary -----*/
  /*----- Donut Charts -----*/
  .donut-wrapper {
    width: 100%;
  }

  .donut-charts {
    flex-direction: row;
    justify-content: center;
  }

  /*----- Bar Chart -----*/
  .bar-chart-wrapper {
    width: 100%;
  }
  /*----- Main Secondary -----*/
  /*----- Table -----*/
  tr {
    flex-direction: row;
  }

  th {
    width: 30%;
  }

  td {
    width: 70%;
  }

  th,
  td {
    padding: 20px 0;
  }

  .header-row {
    font-size: 14px;
  }

  .header-data {
    display: block;
  }

  .header-data,
  .main-data,
  .main-data-salary {
    padding-left: 20px;
  }

  /* FIXME: social media btn sizes */

@media screen and (min-width: 750px) {
  /*----- Main Primary -----*/
  /*----- Donut Charts -----*/
  .donut-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .donut-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /*----- Bar Chart -----*/
  .bar-chart-wrapper {
    width: 40%;
  }

  /*----- Main Secondary -----*/
  /*----- Table -----*/
  .job-description {
    width: 60%;
    margin: 0;
  }

  /* FIXME: sizing problem between table and share */
  /*----- Share Wrapper -----*/
  .share-wrapper {
    width: 35%;
  }

  /*----- Widgets -----*/
  .social-media-link,
  .widget-wrapper {
    max-width: 300px;
    min-width: 225px;
  }
}
